{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | DomAIyn Admin{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <span class="admin-logo"></span>
        DomAIyn Admin
    </a>
</h1>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block footer %}
<div id="footer">
    <p>DomAIyn Admin Panel &copy; 2026</p>
</div>
{% endblock %}